@model IEnumerable<LYWeb.Models.FAULT>
@using LYWeb.Helpers
@{
    ViewBag.Title = "超限及处理信息监控";
    //序号
    int index = 1;
}

<h2 style="text-align:center">@ViewBag.Title</h2>
<form method="post">
    @Html.AntiForgeryToken()
    <table class="table table-bordered table-striped" >
        <tr>
            <th>序号</th>
            <th>车号</th>
            <th>轮位</th>
            <th>检测项</th>
            <th>检测值(mm)</th>
            <th>超限级别</th>
            <th>处理意见</th>
            <th>意见提交</th>
            <th>复核值</th>
            <th>复核人</th>
            <th>处理结论</th>
            <th>缺陷图片</th>
            <th>处理状态</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                @{ RECHECKS recheck = item.RECHECKS.FirstOrDefault();}
                <td>@(index++)</td>
                <td>@item.WHEEL.VEHICLE.TRAIN.DETECTION_TIME.ToString("M-d H:mm")</td>
                <td>@Html.DisplayFor(modelItem => item.WHEEL.VEHICLE.COACH_NUMBER)</td>
                <td>@Html.DisplayFor(modelItem => item.WHEEL.POSITION)</td>
                <td>@Html.DisplayFor(modelItem => item.ITEM)</td>
                <td>@Html.DisplayFor(modelItem => item.VALUE)</td>
                <td>@Html.DisplayAlarmLevel(item.ALARM_LEVEL)</td>
                @if (recheck != null)
                {
                    <td>@Html.DisplayFor(modelItem => recheck.SUGGESTION)</td>
                    <td></td>
                    <td>@Html.DisplayFor(modelItem => recheck.VALUE)</td>
                    <td>@Html.DisplayFor(modelItem => recheck.RECHECK_PERSON)</td>
                    <td>@Html.DisplayFor(modelItem => recheck.CONCLUSION)</td>
                    <td>@Html.ActionLink("上传", "UpLoad", "Fault", new { id = item.ID }, null) &nbsp;|&nbsp;@Html.ActionLink("查看", "UpLoadShow", "Fault", new { id = item.ID }, null)</td>
                    <td>@Html.DisplayRecheckStateLink(item)</td>
                }
                else
                {
                    <td>@Html.DropDownList("SUGGESTION", SelectListFactory.CreateSuggesionSelectList(), "")</td>
                    <td><button type="submit" class="btn btn-default" name="submit" value="@("suggestion" + item.ID)">提交</button></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>@Html.ActionLink("上传", "UpLoad", "Fault", new { id = item.ID }, null) &nbsp;|&nbsp;@Html.ActionLink("查看", "UpLoadShow", "Fault", new { id = item.ID }, null)</td>
                    <td>@Html.DisplayRecheckStateLink(item)</td>
                }

            </tr>
        }

    </table>
</form>
@section Scripts
{
    <script type="text/javascript">
        function myrefresh() {
            //相关处理
            window.location.reload();
        }//重新加载页面}
        $(document).ready(function () {
            setTimeout('myrefresh()', 30000); //每30s刷新一次
            $("#MonitorFault").addClass('active');
        })

    </script>
}